figure
{
    width: 514px;
    height: 514px;
    background-color: #FFF;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 15px solid #754ef9;
    border-radius: 50%;
}

img
{
    width: 352px;
    height: 352px;
    border-radius: 50%;
    border: 15px solid #754ef9;
}