.main-play-video
{
    width: 78px;
    height: 78px;
    background-color: #FFF;
    box-shadow: 0 5px 15px 0 rgba(117, 78, 249, 0.16);
    display: block;
    border-radius: 50%;
    text-indent: -9999px;
    position: relative;
    
}

.main-play-video::after
{
    content: '';
    border-top: 10px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 12px solid #754ef9;
    width: 0px;
    height: 0px;
    position: absolute;
    top: 30px;
    left: 34px;
    
}